/* "Tamming" Box Model With Reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Use Colorzilla to Identify colours*/

/*Universal Formatting*/
body {
  font-size: 16px;
  font-family: Helvetica;
  color: rgb(74, 74, 74);
}

.container {
  width: 100%;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
}

h3 {
  font-size: 2.75rem;
  font-weight: bold;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: 0.01em;
  font-weight: bold;
}

p {
  font-size: 1rem;
  letter-spacing: 0.01em;
}

/*Header- Logo*/

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 2;
  background-color: white;
}

header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

header .logo span {
  font-weight: bold;
}

header .logo span .lightgrey {
  color: rgb(155, 155, 155);
}

nav span {
  font-weight: normal;
}

nav span:nth-child(n+2) {
  margin-left: 1rem;
}

/*Fixed Structure Offset*/

main {
  position: relative;
  top: 4rem;
}


section .container {
  display: flex;
  padding: 2rem 1.5rem;
}

/*First Section*/

.first .container {
  align-items: center;
}

.grey {
  background-color: rgb(216, 216, 216);
}

.banner {
  width: 60%;
  margin-right: 1.5rem;
}

.strapline {
  width: 30%;
}

.strapline h4 {
  margin: 2rem 0;
}

.btn {
  display: block;
  color: white;
  background-color: rgb(74, 74, 74);
  text-align: center;
  padding: 0.5rem 0;
  letter-spacing: 0.03em;
  transition: background-color 0.4s linear 0.1s;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
}

/*Section 2 */

.offwhite {
  background-color: rgb(243, 245, 245);
}

.second .container {
  padding-right: 0;
}

.second .banner h3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.second .banner .text p {
  padding-right: 1.5rem;
}

.second .banner .text span {
  display: block;
  margin-top: 2rem;
  font-weight: 600;
}

.second .campus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.second .events {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.second .events:first-child {
  padding-top: 0;
  margin: 0;
}

.second .events .image {
  width: 35%;
  height: auto;
}

.second .events .text {
  width: 65%;
  margin-left: 1.5rem;
}

.second .events .text p {
  margin: 0.5rem 0;
}

.second .events .text a {
  text-decoration: none;
}

/*Section 3*/

.third .container {
  display: block;
  padding: 2rem 5rem;
}

.third h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.third .rows.container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.third .row {
  display: flex;
  justify-content: space-between;

}

.third .courses {
  width: 33.33%;
  margin: 0 2rem 2rem 0;
  background-color: rgb(255, 255, 255);
}

.third .courses:nth-child(3n) {
  margin-right: 0;
}


.third .courses .image {
  height: auto;
}

.third .courses .text {
  padding: 1rem;
}

.third .courses .text {
  padding: 1rem 1rem 1.5rem;
}

.third .courses .text span {
  display: block;
  margin: 0.5rem 0;
}

.third .courses .text p {
  width: 90%;
}
